<div class='gia'>

{{#top}}
<div class='gia-header-img'>
	<img src='{{mainimage}}' >
</div>
{{/top}}

<div class='gia-quotes'>
	{{#each quotes: i}}
	<div class='person-row row-{{rowNumber}}'>
				{{#imageposition == 'left'}}
                <div class='body-img {{imageposition}}-pos' ><img src="{{imageurl}}"></div>
                {{/imageposition}}

            <div class='body-text'>

            		{{#top}}
	            	<svg x="0px" y="0px" width='50px'>
						<path style="fill:{{accentcolor}}" d="M0,13.409C0,3.771,9.742,0.175,20.741,0v1.605C11.277,2.2,5.312,7.122,5.556,13.723
							c1.221-2.652,4.011-5.237,9.284-5.237c5.516,0,9.113,2.341,9.113,7.89c0,5.447-4.783,8.519-11.17,8.519
							C4.889,24.895,0,20.425,0,13.409z M26.047,13.409c0-9.638,9.741-13.233,20.741-13.409v1.605C37.361,2.2,31.355,7.122,31.6,13.723
							c1.225-2.652,4.014-5.237,9.285-5.237c5.518,0,9.115,2.341,9.115,7.89c0,5.447-4.783,8.519-11.172,8.519
							C30.938,24.895,26.047,20.425,26.047,13.409z"/>
					</svg>
					{{/top}}

				<div class='main-quote quote-{{this.rowNumber}}'>
					{{{ quote }}}

						{{#top}}
							<span class='less-button' data-id='my-{{rowNumber}}' on-click='toggle:{{i}}' style='color:{{accentcolor}}'>
								{{#if opened[i]}}Hide{{else}}Read more »{{/if}}
							</span>
						{{/top}}

	            </div>
	                {{ #opened[i] }}
	    			<div class='divHidden' data-response='MyDiv-{{rowNumber}}'>
	    					<div class='hidden-quote'>
	    						 {{{fulltext}}}
								 <div class='descrip-name'>{{attribution}}</div>
	    					</div>

	    			</div>
	    			{{/opened}}
	    	</div>

	    		{{#imageposition == 'right'}}
                <div class='body-img {{imageposition}}-pos' ><img src="{{imageurl}}"></div>
                {{/imageposition}}
	</div>

	{{else}}
		<p>loading...</p>

	{{/each}}

	{{#top}}
		{{#credit}}
		<div class='gia-credit-container'>
			<div class='gia-credit'>{{{credit}}}</div>
		</div>
		{{/credit}}
	{{/top}}

</div>

</div>

<style>
	.gia {
		max-width: 1300px;
		margin: 2em auto;
		overflow: hidden;
		padding-bottom: 20px;
	}

.gia-credit-container {
	max-width:960px;
	margin: 0 auto;
	padding: 50px;
	border-top: 1px solid #CCC;
	float: left;
}

.gia-credit {

	position: relative;
	float: left;

	font-family: 'Guardian Text Egyptian Web', Georgia, serif;
	font-size: 18px;
	line-height: 1.5em;

}

.gia-quotes {
	max-width:960px;
	margin: 0 auto;
}

.gia-header-img{
	width:100%;
	position:relative;
	text-align:center;
}

.gia-header-img img {
	width:100%;
}

.person-row {
	display: table;
	position: relative;
	width: 100%;
	float: left;

	font-family: 'Guardian Text Egyptian Web', Georgia, serif;
	font-size: 24px;
	line-height: 1.5em;

	border-top: 1px solid #CCC;
	margin: 5px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
}
.person-row:first-child{
	border-top: 0px;
}
.body-text{
	display:table-cell;
	position: relative;
}

svg{
	left: 0;
	position: absolute;
	top: 45px;
	margin-left: 50px;
	pointer-events: none;
}

.main-quote {
	display: inline-block;
	height: auto;
	float: left;
	text-align:left;

	margin: 20px 35px 20px 60px;
	padding: 16px 50px;
}

.main-quote span{
	text-align: right;
	overflow: auto;
	font-size: 18px;
	padding-top: 5px;
	margin-left: 3px;
	font-weight: bold;

	font-family: 'Guardian Egyptian Web';
	font-weight: 900;
}

.main-quote span {
	/*color: #e6711b;*/
	text-decoration: none;
	background-color: #fff;
}
.main-quote span:hover {
	text-decoration: underline;
	cursor: pointer;
}

.divHidden{
	width:100%;
	height: auto;
	/*display: none;*/
}

.divVisible{
	display: block;
	width: 900px;
	float: left;
	padding-left: 40px;
	padding-bottom: 20px;
}

.hidden-quote{
	float: left;
	margin: 35px 25px 10px 110px;
	font-size: 18px;
	line-height: 1.4em;
	max-width: 700px;
}

.hidden-quote span{
	font-weight: 900;
}

.descrip-name {
	display: block;
	color: #929497;

	font-family: 'Guardian Egyptian Web';
	font-weight: 900;

	font-size: 18px;
	line-height: 1.2em;
	margin: 20px 25px 25px 110px;
	float: right;
}

.body-img {
	position: relative;
	display:table-cell;
	margin: 0 auto;
	height: 20px;
	width:25%;
	max-width:250px;
	vertical-align: top;
}


@media screen and (max-width: 500px){
	.body-img{
		display: none;
	}
	.body-text{
		width:100%;
	}
	svg {
		left: -15px;
	}

	.person-row{
		font-size: 16px;
	}
	.main-quote{
		margin-left: 30px;
		margin-top: 60px;
		padding: 20px 5px;
	}

	.hidden-quote{
		margin-left: 35px;
		font-size: 14px;
	}
	.descrip-name {
		margin-left: 0px;
		float:left;
		font-size: 16px;
	}
	.gia-header-img{
		display: none;
	}

	.main-quote span {
		font-size: 16px;
	}

	.gia-credit-container {
		padding: 15px;
	}

	.gia-credit {
		font-size: 14px;
	}
}

@media screen and (max-width: 960px){
	.gia-credit {

		padding: 20px;

	}

}
</style>

<script>

// var data = require( 'data' );
// var quote = data.responses.sheets.Responses;
// var fill = data.responses.sheets.Header;

	require( 'ractive-transitions-slide' );

	component.exports = {
		init: function(){
			this.on({
				 toggle: function ( event, index ) {
			    	this.toggle( 'opened[' + index + ']' );
			    }
			})
		},
		data: {
			// quotes: quotes,
			// top: fill,
			opened: []
		}
	};
</script>
